@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\000031}}
.text-popup {
  position: absolute;
  display: inline-block;
  background: #F7D1C2;
  z-index: 103;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: visibility 0s ease 0.15s, opacity 0.3s ease;
  transition-delay: 1ms;
  box-shadow: 6px 4px 10px rgba(136, 136, 136, 0.3);
  max-width: 27em; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000314}}
  .text-popup td {
    padding: 0.3em 0.3em; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000318}}
    .text-popup .meaning {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 80%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000323}}
      .text-popup table {
        margin: 0;
        padding: 0; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000328}}
        .text-popup table, .text-popup tr, .text-popup td {
          border: none;
          background: none;
          border-collapse: collapse; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000334}}
          .text-popup.fallback {
            border: 2px crimson dotted;
            margin: 1px; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000339}}
            .text-popup.info {
              border: 2px lightskyblue solid; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000343}}
              .text-popup td:nth-child(odd) td {
                background: pastel-color(light-yellow); }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000347}}
                .text-popup tr:not(:first-child) td {
                  border-top: 1px grey solid;
                  margin: 0.2em; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000352}}
                  .text-popup tfoot {
                    border-top: 1px grey solid; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000356}}
                    .text-popup .ideograph a:link {
                      text-decoration: none;
                      color: black; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000361}}
                      .text-popup .ideograph {
                        white-space: nowrap;
                        font-size: 1.2em; }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000366}}
                        .text-popup span.current_lookup:not(.punctuation) {
                          color: saturated-color(dark-purple);
                          background: yellow; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000374}}
.text-popup .content {
  word-break: break-word; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000378}}
  .text-popup .content, .text-popup dl, .text-popup dd {
    display: inline;
    padding: 0;
    margin: 0; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000384}}
    .text-popup dt {
      display: none; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000388}}
      .text-popup .source {
        background: #ccc;
        border-radius: 0.25em;
        padding: 0.15em;
        width: 2.5em;
        margin-left: 0.5em;
        font-size: 90%;
        font-weight: bold; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\0000399}}
        .text-popup .pali ul {
          margin: 0; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003103}}
          .text-popup .pali li {
            height: 1.5em;
            margin-top: 0.1em;
            margin-bottom: 0.1em;
            overflow: hidden; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003110}}
            .text-popup .pali ul {
              list-style: none; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003116}}
              .text-popup .pali .expandable {
                cursor: pointer; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003118}}
                .text-popup .pali .expandable.clicked {
                  cursor: inherit; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003123}}
        .text-popup .pali .poor-match {
          background-color: #ead7d0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003128}}
.text-popup .popup-text-overlay {
  padding: 0.1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  background: pink;
  overflow-y: auto;
  overflow-x: hidden; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003138}}
  .text-popup .popup-text-overlay .source {
    height: 1em;
    width: initial;
    padding: 0.05em 0.25em 0.35em 0.2em; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003144}}
    .text-popup .popup-text-overlay .popup-close-button {
      margin-right: 0.7em;
      font-size: 150%;
      line-height: 1em;
      width: 0.5em;
      height: 0.5em;
      text-align: center;
      text-shadow: 2px 2px 2px black; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003153}}
      .text-popup .popup-text-overlay .popup-close-button:hover {
        cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003160}}
.lookup-word-marker {
  display: inline-block;
  position: absolute; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003165}}
  .decomposed {
    font-weight: bold;
    background-color: white;
    border-radius: 0.1em;
    padding: 0.1em 0.5em; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003170}}
    .decomposed .letter {
      margin: 0em;
      display: inline-block;
      padding: 0em 0.05em; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003174}}
      .decomposed .letter.selected {
        background-color: #dadada; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003180}}
.add-glossary-entry {
  padding: 0;
  margin: 0;
  font-size: 80%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003184}}
  .add-glossary-entry input {
    width: 22%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003187}}
    .add-glossary-entry button {
      width: 7%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003193}}
.term .diff-replace, .term .diff-delete, .term .diff-insert {
  background-color: #fcedbe; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003198}}
.text-popup .hide {
  display: none; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003204}}
  td.unhide {
    text-align: right;
    font-size: 60%;
    background: #fcece6; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003208}}
    td.unhide:hover {
      background: #fefaf8;
      cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/blake\/programming\/suttacentral\/static\/css\/text\/lookup\.scss}line{font-family:\00003214}}
tr.glossary td {
  padding: 2px;
  ï¿¼  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }
